{% extends "layout.njk" %}
{% block head %}
    <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}
    <div class="content">
        <div id="title">
            <img src="{{about.avatar_url}}" alt="Imagem da {{about.company}}">
            <h1>{{about.company}}</h1>
        </div>
        <div id="infos">
            <h2>{{about.description}}</h2>
            <p>
                {{about.info}}
            </p>
            <ul>
                {% for stack in about.stacks %}
                    <li>{{stack.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="links-footer" class="links" style="margin-bottom: 20px;">
        {% for link in about.links %}
            <a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}
    </div>
{% endblock %}