{% extends "layout.njk" %}
{% block head %}
    <title>Sobre - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Conteúdos</h1>
    </div>

    <section class="cards">
        {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="card__content-space">
                    <div class="card__image-title">
                        <img src="{{item.image_url}}" alt="Imagem do {{item.title}}">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="card__info">
                        <p>{{item.modules}}</p>
                        <p class="info">{{item.description}}</p>
                        <p class="card__price">{{item.price}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <a class="maximize-modal">
                <i class="material-icons">check_box_outline_blank</i>
            </a>
            <a class="minimize-modal">
                <i class="material-icons">indeterminate_check_box</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>

{% endblock %}