{% extends "layout.njk" %}
{% block head %}
    <title>Página não encontrada</title>
{% endblock %}

{% block content %}
    <div class="not-found">
        <h1>Erro 404</h1>
        <h2>Página não encontrada</h2>
        <p>Desculpe, a página  que você está procurando não existe nesse site.</p>
    </div>
{% endblock %}