<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>High School</title>
        {% endblock %}
        <link rel="stylesheet" href="/style.css">

    </head>

    <body>
        <header>
            <div class="links">
                <div class="icon">
                    <a href="/"><img src="/assets/escola.png" alt=""> High School</a>
                </div>
                <div class="link">
                    <a href="/"><img src="/assets/professor.png" alt="Professor" title="Professor">
                        Professor</a>
                    <a href="/students"><img src="/assets/aluna.png" alt="Aluno" title="Aluno">
                        Aluno</a>
                </div>
            </div>
        </header>

        {% block content%}
            {% endblock%}

        </body>

    </html>